# local python environment
venv
env/
ENV/
.env

# IDE
.*.un~
.vscode/
*~
*.swp
.sass-cache/
._*

# Django-specific files
*.log
*.pot
*.pyc
*.pyo
__pycache__/
db.sqlite3
*.sqlite3

# migrations
*/migrations/__pycache__/
*/migrations/*.py[cod]
*/migrations/*.pyc
*/migrations/*.pyo
pong/pythpong/game/migrations/0*

# staticfiles
staticfiles/
media/

# nginx
modsecurity-nginx/conf/default

# vault
vault/config/init.file
vault/config/root.token
vault/config/unseal.key1
vault/config/unseal.key2
vault/config/unseal.key3
vault/config/unseal.key4
vault/config/unseal.key5
vault/data/
