{% extends "base.html" %} {% load static %} {% block content%}
<section class="bg-light py-5 py-xl-8">
	<div class="container overflow-hidden">
		<div class="row justify-content-md-center">
			<h3 class="fs-6 mb-4 text-secondary text-center text-dark text-uppercase">
				How It Works
			</h3>
			<div class="col-12 col-sm-6 col-xl-3">
				<div class="card shadow-sm">
					<div class="card-body text-center p-4 p-xxl-5">
						<img
							src=" {% static 'img/ping-pong (2).png' %} "
							width="56"
							height="56"
							fill="currentColor"
							class=""
							viewBox="0 0 16 16"
						/>
						<h4 class="mb-4">Have Fun</h4>
						<p class="mb-4 text-secondary">
							Play 1 on 1 with our revolutionary ai or with friends!
						</p>
					</div>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-xl-3">
				<div class="card shadow-sm">
					<div class="card-body text-center p-4 p-xxl-5">
						<img
							src=" {% static 'img/ping-pong (2).png' %} "
							width="56"
							height="56"
							fill="currentColor"
							class=""
							viewBox="0 0 16 16"
						/>
						<h4 class="mb-4">Have Fun</h4>
						<p class="mb-4 text-secondary">
							Play 1 on 1 with our revolutionary ai or with friends!
						</p>
					</div>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-xl-3 pb-5">
				<div class="card shadow-sm">
					<div class="card-body text-center p-4 p-xxl-5">
						<img
							src=" {% static 'img/ping-pong (2).png' %} "
							width="56"
							height="56"
							fill="currentColor"
							class=""
							viewBox="0 0 16 16"
						/>
						<h4 class="mb-4">Have Fun</h4>
						<p class="mb-4 text-secondary">
							Play 1 on 1 with our revolutionary ai or with friends!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-12 col-md-10 col-lg-8 col-xl-7">
				<h3 class="mb-5 text-center">
					We are giving you a perfect solution to get a good laugh and relax
					with your friends.
				</h3>
				<hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle" />
			</div>
		</div>
	</div>
</section>
{% endblock %}
